* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 40mm;
  background-color: snow;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px;
  text-align: right;
}



nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(255, 0, 0);
}


.top {
  position: relative;
  width: 100%;
  height: 15vh;
  background: #ffffff;
}
/*DropDown Login start*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login_container {
  padding: 20px;
}

 


/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*DropDown Login end*/
.menu {
  background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  padding: 10px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.detail {
  position: absolute;
  top: 4%;
  width: 50%;
  margin-left: 3%;
  margin-top: 15%;
}

.detail span {
  font-size: 6em;
  color: #283841;
  margin-bottom: 20px;
}

.detail b {
  margin-bottom: 1rem;
  ;
}

.detail a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

#element {
  color: #a256d4;
  font-size: 7em;
  font-weight: 900;
  margin-top: 1.2rem;
}

.detail p {
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #3d535f;
}

.btnss {
  width: 100%;
  position: relative;
}

.detail button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
  color: #fbff00;
}


.heading_container1 {
  margin-top:850px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading_container1 h1 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
}

.heading_container1 h1 span {
  position: relative;
  z-index: 2;
}

.heading_container1 h1::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 26px;
  top: 50%;
  right: -40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  background-image: url(images/heading-img.png);
  background-repeat: no-repeat;
}


.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

.images {
  width: 50%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 80px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 60%;
  bottom: 0;
  transform: translateX(-50%);
  transform: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 45px;
}

.images:hover .girl2 {
  left: 50%;
}

@media (max-width: 1850px){
  header{
    padding: 15px 8%;
    transition:  .2s;
  }
  section{
    padding: 0 8%;
    transition:  .2s;
  }
}
@media (max-width: 1370px){
  header{
    padding: 15px 4%;
    transition:  .2s;
  }
  section{
    padding: 0 4%;
    transition:  .2s;
  }
}

/*About start*/
.layout_padding {
  padding: 90px 0;
}


.about_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .box img {
  width: 100%;
}

.about_section .box .img-box {
  position: relative;
  width: 250px;
  margin: 50px 0;
}

.about_section .box .img-box .about_img-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  -webkit-animation: rotateAnimation 3s infinite;
  animation: rotateAnimation 3s infinite;
}

@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  49% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
    transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  49% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
    transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

.about_section .box .detail-box {
  margin-top: 35px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 25px;
}

.about_section .box .detail-box a {
  display: inline-block;
  padding: 12px 60px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 40px;
  text-transform: uppercase;
  margin-top: 35px;
}

.about_section .box .detail-box a:hover {
  background-color: #333333;
}

/*About end*/

/*start of footer section*/
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*End of footer section*/